.main {
  height: 100vh;
  min-height: 65vw;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.main p {
  text-align: center;
  margin-block: 0.25rem;
  font-size: 0.75rem;
}
.progress {
  position: absolute;
  bottom: 10%;
  left: 7.5%
}
.progress_Img {
  position: absolute;
  bottom: 12%;
}
.progress_Horse {
  position: absolute;
  bottom: calc(12% + 33.5px);
  z-index: 99;
  width: 150px;
}
.satoshi {
  border-radius: 10px;
  border: solid 2px black;
  background-color: #282828;
  color: #ffffff;
  width: fit-content;
  margin-inline: auto;
  margin-top: 37vh;
}
.satoshi h1 {
  text-align: center;
  margin-block: 0.5rem;
  font-size: 2.5rem;
}
.satoshi span {
  background-color: black;
  padding: 0.35rem 0.65rem;
  margin: 0 0.18rem;
  border-radius: 10%;
  font-weight: bold;
  font-size: 3.5rem;
}
.satoshi span:nth-child(2) {
  background-color: inherit;
  padding: 0;
  margin: 0;
}
.satoshi span:nth-last-of-type(1) {
  font-weight: normal;
}
.satoshi > div{
  border-top: 3px solid #000000;
  padding: 1.5rem 2rem;
}
.graph_container {
  display: flex;
  position: relative;
  border-top: dashed 3px #000000;
  height: 993px;
}
.depreciation_info {
  padding: 7rem 9% 5.5rem;
  text-align: center;
  background-image: linear-gradient(#6CA7D9 100%, rgba(255,255,255,0) 0%);
  background-size: 9%;
  background-repeat: repeat-y;
}
.depreciation_info h2 {
  margin: 0 0 2.25rem;
  font-size: 2.25rem;
  font-weight: bold;
}
.depreciation_info p {
  font-size: 1.35rem;
  margin: 0;
}
.depreciation_info p:nth-last-of-type(1) {
  margin: 0 0 1.15rem;
}
.depreciation_info a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.depreciation_container {
  background-color: #E6E6E6;
  background-image: linear-gradient(#6CA7D9 100%, rgba(255,255,255,0) 0%);
  background-size: 9%;
  background-repeat: repeat-y;
}
.depreciation_bills {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.depreciation_bills span:nth-of-type(1) {
  font-size: 0.9rem;
  display: none;
}
.depreciation_bills span:nth-last-of-type(1) {
  font-weight: bold;
  font-size: 0.95rem;
}
.depreciation_bills div span:nth-last-of-type(1):nth-of-type(1) {
  font-size: 0.85rem;
  display: block;
}
.bill2 span:nth-of-type(1) {
  font-size: 0.85rem;
}
.depreciation_bills div {
  background-Color: #F5B42A;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-Direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.depreciation_bills div:nth-last-of-type(1) {
  position: relative;
}
.period1 {
  z-index: 99;
  position: relative;
  top: 48.8px
}
.period1 svg {
  width: calc(305% + 6px);
  height: 534px;
}
.period2 {
  z-index: 99;
  position: relative;
  top: calc(4% - 2px)
}
.period2 svg {
  width: calc(600% + 12px);
  height:111.8px;
}
.period3 {
  z-index: 99;
  position: relative;
  top: 3.28%
}
.period3 svg {
  width: calc(200% + 4px);
  height: 19px;
}
.period4 {
  z-index: 99;
  position: relative;
  top: 2.43%
}
.period4 svg {
  width: calc(506% + 10px);
  height: 59px;
}
.period5 {
  z-index: 99;
  position: relative;
  top: 1.8%;
}
.period5 svg {
  width: calc(275% + 4px);
  height: 240.5px;
}
.bill1 {
  width: 5.5%;
  height: 5.5vw;
  min-height: calc(30px * 0.55);
  left: calc(9% - 5.5%/2);
}
.bill2 {
  width: 7%;
  height: 7vw;
  min-height: calc(30px * 0.7);
  left: calc(22% - 7%/2);
}
.bill3 {
  width: 8%;
  height: 8vw;
  min-height: calc(30px * 0.8);
  left: calc(35% - 8%/2);
}
.bill4 {
  width: 9%;
  height: 9vw;
  min-height: calc(30px * 0.9);
  left: calc(48% - 9%/2);
}
.bill5 {
  width: 10%;
  height: 10vw;
  min-height: calc(30px * 1);
  left: calc(61% - 10%/2);
}
.bill6 {
  width: 11%;
  height: 11vw;
  min-height: calc(30px * 1.1);
  left: calc(74% - 11%/2);
}
.bill7 {
  width: 12%;
  height: 12vw;
  min-height: calc(30px * 1.2);
  left: calc(87% - 12%/2);
}
.stickySpace {
  height: 2.75vw;
  min-height: 17.5px;
  background: 
    linear-gradient(#6CA7D9 0 0) top left,
    linear-gradient(#E6E6E6 0 0) top left calc(9vw - 1.5px)
  ;
  background-size:
    9% 100%,
    100% 100%
  ;
  background-repeat:
    no-repeat,
    no-repeat
  ;
  display: flex;
  width: 100%;
}
.coin {
  position: absolute;
  width: 35px;
  top: -17px;
  left: calc(563% - 17.5px);
  z-index: 99;
}
.peso {
  position: absolute;
  top: 25px;
  left: calc(563% - 143.59px / 2);
  color: #ffffff;
  background-color: #000000;
  padding: 0.65rem;
  border-radius: 10px;
  width: max-content;
  z-index: 99;
}
.peso span {
  display: block;
}
.stability {
  position: absolute;
  top: calc(19% - 39.1px);
  left: calc(125% - 62.5px);
  width: 100%;
  z-index: 99;
}
.stability svg {
  width: 125px;
}
.bcra {
  position: absolute;
  top: calc(33.2% - 28.65px);
  left: calc(125% - 100px);
  width: 100%;
  z-index: 99;
}
.bcra svg {
  width: 200px;
}
.c20 {
  position: absolute;
  width: 100%;
  top: calc(5.25% - 9.05px);
  left: calc(60% - 18px);
}
.c20 svg {
  width: calc(57px);
}
.box {
  border-right: dashed 2px #F5B42A;
  width: 13%;
  position: relative;
}
.box:nth-child(1) {
  width: 9%;
  border-right: inherit;
  background-color: #6CA7D9;
}
.box:nth-child(8) {
  border-right: inherit;
}
.year {
  display: flex;
  align-items: center;
  text-align: end;
  font-size: 1.15rem;
  font-weight: bold;
  color: #ffffff;
}
.year svg {
  height: 0.5rem;
}
.year0 {
  position: absolute;
  top: calc(4.25% - 1rem);
  right: 0;
  padding-right: 0.55rem;
}
.year0 span {
  font-weight: normal;
}
.yearM {
  font-size: 0.75rem;
  font-weight: bold;
  padding-right: 0.3rem;
}
.yearM1 {
  position: absolute;
  top: calc(6.15% - 0.5625rem);
  right: 0;
}
.yearM2 {
  position: absolute;
  top: calc(13.758% - 0.5625rem);
  right: 0;
}
.yearM3 {
  position: absolute;
  top: calc(21.367% - 0.5625rem);
  right: 0;
}
.yearM4 {
  position: absolute;
  top: calc(28.9753% - 0.5625rem);
  right: 0;
}
.yearM5 {
  position: absolute;
  top: calc(36.5836% - 0.5625rem);
  right: 0;
}
.yearM6 {
  position: absolute;
  top: calc(44.1919% - 0.5625rem);
  right: 0;
}
.yearM7 {
  position: absolute;
  top: calc(51.4% - 0.5625rem);
  right: 0;
}
.yearM8 {
  position: absolute;
  top: calc(82.5% - 0.5625rem);
  right: 0;
}
.yearM9 {
  position: absolute;
  top: calc(90.1083% - 0.5625rem);
  right: 0;
}
.yearM10 {
  position: absolute;
  top: calc(97.7166% - 0.5625rem);
  right: 0;
}
.year1 {
  position: absolute;
  top: calc(5.225% - 0.6875rem);
  right: 0;
}
.year2 {
  top: calc(32.38% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year3 {
  top: calc(33.2% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year4 {
  top: calc(39.3% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year5 {
  top: calc(52% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year6 {
  top: calc(58.85% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year7{
  top: calc(59.88% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year6 svg, .year7 svg, .year8 svg , .year9 svg , .year10 svg , .year11 svg , .year12 svg {
  fill: rgb(45, 60, 92);
}
.year13 svg , .year14 svg {
  fill: rgb(85, 76, 128);
}
.year15 svg , .year16 svg , .year17 svg , .year18 svg {
  fill: rgb(193, 70, 50);
}
.year19 svg , .year20 svg , .year21 svg , .year22 svg {
  fill: rgb(226, 110, 43);
}
.year8 {
  top: calc(61.05% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year9 {
  top: calc(63.65% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year10 {
  top: calc(66% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year11 {
  top: calc(66.89% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year12 {
  top: calc(67.7% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year13 {
  top: calc(69.17% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year14 {
  top: calc(69.92% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year15 {
  top: calc(70.67% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year16 {
  top: calc(73.4% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year17 {
  top: calc(74.4% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year18 {
  top: calc(75.25% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year19 {
  top: calc(76.21% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year20 {
  top: calc(83.7% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year21 {
  top: calc(95.25% - 0.6875rem);
  position: absolute;
  right: 0;
}
.year22 {
  top: calc(96.12% - 0.6875rem);
  position: absolute;
  right: 0;
}
.bill_5p {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(32.4% - 9.455px);
  left: 30%;
}
.bill_5p svg {
  width: 22px
}
.bill_100p {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(33.3% - 9.595px);
  left: 7%;
}
.bill_100p svg {
  width: 39px
}
.bill_100p svg text {
  fill: rgb(237, 113, 120);
}
.bill_100p svg path {
  stroke: rgb(237, 113, 120);
}
.bill_1000p {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(39.27% - 8.14px);
  left: 12%;
}
.bill_1000p svg {
  width: 36px
}
.bill_1000p svg text {
  fill: rgb(237, 113, 120);
}
.bill_1000p svg path {
  stroke: rgb(237, 113, 120);
}
.bill_10000pp {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(51.85% - 10.10px);
  left: 12%;
}
.bill_10000pp svg {
  width: 47px
}
.bill_10000pp svg text, .bill_10000pp svg circle:first-of-type {
  fill: rgb(237, 113, 120);
}
.bill_10000pp svg path:first-of-type {
  stroke: rgb(237, 113, 120);
}
.bill_100pp {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(58.82% - 10.78px);
  left: -4%;
}
.bill_100pp svg {
  width: 50px
}
.bill_100pp svg text, .bill_100pp svg circle:first-of-type {
  fill: rgb(45, 60, 92);
}
.bill_100pp svg path:first-of-type {
  stroke: rgb(45, 60, 92);
}
.bill_500p {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(60% - 9.15px);
  left: 55%;
}
.bill_500p svg {
  width: 37px
}
.bill_1000pA {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(61.25% - 7.54px);
  left: 12%;
}
.bill_1000pA svg {
  width: 33px
}
.bill_1000pA svg text {
  fill: rgb(45, 60, 92);
}
.bill_1000pA svg path:first-of-type {
  stroke: rgb(45, 60, 92);
}
.bill_10000pA {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(63.7% - 9px);
  left: 9%;
}
.bill_10000pA svg {
  width: 43px
}
.bill_10000pA svg text {
  fill: rgb(45, 60, 92);
}
.bill_10000pA svg path:first-of-type {
  stroke: rgb(45, 60, 92);
}
.bill_100000pA {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(66% - 9.3px);
  left: 5.5%;
}
.bill_100000pA svg {
  width: 50px
}
.bill_500000pA {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(67.1% - 8.53px);
  left: 7%;
}
.bill_500000pA svg {
  width: 45px
}
.bill_1000000pA {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(67.9% - 9.72px);
  left: 49%;
}
.bill_1000000pA svg {
  width: 55px
}
.bill_100ppV {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(69.23% - 9.8px);
  left: 67%;
}
.bill_100ppV svg {
  width: 45px
}
.bill_5000pV {
  z-index: 999;
  position: absolute;
  width: 100%;
  display: none;
}
.bill_5000pV svg text {
  fill: rgb(85, 76, 128);
}
.bill_5000pV svg path:first-of-type {
  stroke: rgb(85, 76, 128);
}
.bill_10000ppV {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(70.3% - 9.415px);
  left: 18%;
}
.bill_10000ppV svg {
  width: 43px
}
.bill_100ppN {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(75.99% - 10px);
  left: 3%;
}
.bill_100ppN svg {
  width: 46px
}
.bill_100ppN svg text, .bill_100ppN svg circle:first-of-type {
  fill: rgb(226, 110, 43);
}
.bill_100ppN svg path:first-of-type {
  stroke: rgb(226, 110, 43);
}
.bill_100ppR {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(70.55% - 10px);
  left: calc(8px - 10%);
}
.bill_100ppR svg {
  width: 46px
}
.bill_100ppR svg text, .bill_100ppR svg circle:first-of-type {
  fill: rgb(193, 70, 50);
}
.bill_100ppR svg path:first-of-type {
  stroke: rgb(193, 70, 50);
}
.bill_1000pR {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(73.5% - 7.94px);
  left: 4%;
}
.bill_1000pR svg {
  width: 35px
}
.bill_50000pR {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(74.5% - 8.99px);
  left: 60%;
}
.bill_50000pR svg {
  width: 40px
}
.bill_500000ppR {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(75.2% - 9.42px);
  left: 8%;
}
.bill_500000ppR svg {
  width: 45px
}
.bill_patacon {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(83.7% - 8.68px);
  left: 19%;
}
.bill_patacon svg {
  width: 41px;
}
.bill_patacon svg text, .bill_patacon svg circle:first-of-type {
  fill: rgb(226, 110, 43);
}
.bill_patacon svg path:first-of-type {
  stroke: rgb(226, 110, 43);
}
.bill_lecop {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(85% - 9.375px);
  left: 65%;
}
.bill_lecop svg {
  width: 38px;
}
.bill_lecop svg text {
  fill: rgb(226, 110, 43);
}
.bill_lecop svg path:first-of-type {
  stroke: rgb(226, 110, 43);
}
.bill_500pN {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(95.3% - 8.71px);
  left: 54%;
}
.bill_500pN svg {
  width: 35px
}
.bill_500pN svg text {
  fill: rgb(226, 110, 43);
}
.bill_500pN svg path:first-of-type {
  stroke: rgb(226, 110, 43);
}
.bill_1000pN {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(96.15% - 7.15px);
  left: 8%;
}
.bill_1000pN svg {
  width: 31px
}
.bill_1000pN svg text {
  fill: rgb(226, 110, 43);
}
.bill_1000pN svg path:first-of-type {
  stroke: rgb(226, 110, 43);
}
.remove00_1985 {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(71% - 20px);
  left: calc(-30% - 19.015px);
}
.remove00_1985 svg {
  width: 70px
}
.remove00_1970 {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(59% - 13.93px);
  left: -20%;
}
.remove00_1970 svg {
  width: 85px
}
.remove00_1991 {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(77.9% - 21.35px);
  left: calc(-29% - 20.25px);
}
.remove00_1991 svg {
  width: 75px
}
.remove0000_1983 {
  z-index: 999;
  position: absolute;
  width: 100%;
  top: calc(70.8% - 21.35px);
  left: calc(-12% - 31px);
}
.remove0000_1983  svg {
  width: 75px
}
.pesoMN {
  position: absolute;
  top: calc(48% - 2.9rem);
  left: 4%;
  z-index: 999;
}
.pesoLey {
  position: absolute;
  top: calc(65% - 1.9rem);
  left: 4%;
  z-index: 999;
}
.pesoArgentino {
  position: absolute;
  top: calc(69.94% - 1rem);
  left: 4%;
  z-index: 999;
}
.pesoArgentino .year {
  font-size: 0.9rem;
}
.austral {
  position: absolute;
  top: calc(73.25% - 0.92rem);
  left: 4%;
  z-index: 999;
}
.pesoArgentino2 {
  position: absolute;
  top: calc(88.38% - 1.9rem);
  left: 4%;
  z-index: 999;
}
.top {
  z-index: 99999 !important;
}
.bill_10000pN {
  position: absolute;
  bottom: -40.5%;
  left: 44%;
  width: 12%
}
.bill_10000pN img {
  width: 100%;
}
.bg_question {
  width: calc(51.7%);
  height: 29.92px;
}
@media screen and (min-width: 380px) {
  .depreciation_bills span:nth-of-type(1) {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .graph_container {
    height: auto;
  }
  .graph_container .box:nth-of-type(2) {
    padding-bottom: 5.25%;
  }
  .period1 {
    top: 5.2%;
  }
  .period2 {
    top: 4.2%;
  }
  .period3 {
    top: 3.88%;
  }
  .period4 {
    top: 3.25%;
  }
  .period5 {
    top: 2.8%;
  }
  .period1 svg {
   height: auto;
  }
  .period2 svg {
   height: auto;
  }
  .period3 svg {
   height: auto;
  }
  .period4 svg {
   height: auto;
  }
  .period5 svg {
   height: auto;
  }  
  .year0 {
    top: calc(4.25% - 0.6875rem);
  }
  .year1 {
    top: calc(5.4% - 0.6875rem);
  }
  .year2 {
    top: calc(32.87% - 0.6875rem);
  }
  .year3 {
    top: calc(33.7% - 0.6875rem);
  }
  .year4 {
    top: calc(39.83% - 0.6875rem);
  }
  .year5 {
    top: calc(52.73% - 0.6875rem);
  }
  .year6 {
    top: calc(59.67% - 0.6875rem);
  }
  .year7 {
    top: calc(60.71% - 0.6875rem);
  }
  .year8 {
    top: calc(61.85% - 0.6875rem);
  }
  .year9 {
    top: calc(64.275% - 0.6875rem);
  }
  .year10 {
    top: calc(66.517% - 0.6875rem);
  }
  .year11 {
    top: calc(67.4% - 0.6875rem);
  }
  .year12 {
    top: calc(68.2% - 0.6875rem);
  }
  .year13 {
    top: calc(69.6% - 0.6875rem);
  }
  .year14 {
    top: calc(70.25% - 0.6875rem);
  }
  .year15 {
    top: calc(70.97% - 0.6875rem);
  }
  .year16 {
    top: calc(73.23% - 0.6875rem);
  }
  .year17 {
    top: calc(74.05% - 0.6875rem);
  }
  .year18 {
    top: calc(74.85% - 0.6875rem);
  }
  .year19 {
    top: calc(75.6% - 0.6875rem);
  }
  .year20 {
    top: calc(83.315% - 0.6875rem);
  }
  .year21 {
    top: calc(95.1% - 0.6875rem);
  }
  .year22 {
    top: calc(95.98% - 0.6875rem);
  }
  .c20 {
    top: 4.35%;
    left: 30%;
  }
  .c20 svg {
    width: 100%;
  }
  .bill_5p {
    top: 32.1%;
    left: 30%;
  }
  .bill_5p svg {
    width: 33%;
  }
  .bill_100p {
    top: 32.95%;
    left: 4.5%;
  }
  .bill_100p svg {
    width: 65%;
  }
  .bill_1000p {
    top: 39.1%;
    left: 12%;
  }
  .bill_1000p svg {
    width: 60%;
  }
  .bill_10000pp {
    top: 51.55%;
    left: 12%;
  }
  .bill_10000pp svg {
    width: 78%;
  }
  .bill_100pp {
    top: 58.73%;
    left: -4%;
  }
  .bill_100pp svg {
    width: 70%;
  }
  .bill_500p {
    top: 60.1%;
    left: 47%;
  }
  .bill_500p svg {
    width: 50%;
  }
  .bill_1000pA {
    top: 61.27%;
    left: 5%;
  }
  .bill_1000pA svg {
    width: 50%;
  }
  .bill_10000pA {
    top: 63.5%;
    left: 9%;
  }
  .bill_10000pA svg {
    width: 65%;
  }
  .bill_100000pA {
    top: 65.8%;
    left: 9%;
  }
  .bill_100000pA svg {
    width: 72%;
  }
  .bill_500000pA {
    top: 66.75%;
    left: 8%;
  }
  .bill_500000pA svg {
    width: 69%;
  }
  .bill_1000000pA {
    top: 67.37%;
    left: 50%;
  }
  .bill_1000000pA svg {
    width: 78%;
  }
  .bill_100ppV {
    top: 68.7%;
    left: 67%;
  }
  .bill_100ppV svg {
    width: 70%;
  }
  .bill_5000pV {
    top: 69.75%;
    left: -42%;
    display: block;
  }
  .bill_5000pV svg {
    width: 35%;
  }
  .bill_10000ppV {
    top: 69.8%;
    left: 18%;
  }
  .bill_10000ppV svg {
    width: 60%;
  }
  .bill_100ppN {
    top: 74.4%;
    left: 3%;
  }
  .bill_100ppN svg {
    width: 77%;
  }
  .bill_100ppR {
    top: 69.85%;
    left: -5%;
  }
  .bill_100ppR svg {
    width: 68%;
  }
  .bill_1000pR {
    top: 72.5%;
    left: 4%;
  }
  .bill_1000pR svg {
    width: 50%;
  }
  .bill_50000pR {
    top: 73.3%;
    left: 60%;
  }
  .bill_50000pR svg {
    width: 55%;
  }
  .bill_500000ppR {
    top: 73.7%;
    left: 8%;
  }
  .bill_500000ppR svg {
    width: 69%;
  }
  .bill_patacon {
    top: 82.45%;
    left: 19%;
  }
  .bill_patacon svg {
    width: 68%;
  }
  .bill_lecop {
    top: 83.75%;
    left: 65%;
  }
  .bill_lecop svg {
    width: 65%;
  }
  .bill_500pN {
    top: 94.42%;
    left: 55%;
  }
  .bill_500pN svg {
    width: 52%;
  }
  .bill_1000pN {
    top: 95.3%;
    left: 8%;
  }
  .bill_1000pN svg {
    width: 52.5%;
  }
  .remove00_1985 {
    top: 69.95%;
    left: -34%;
  }
  .remove00_1985 svg {
    width: 75%;
  }
  .remove00_1970 {
    top: 58.85%;
    left: -15%;
  }
  .remove00_1970 svg {
    width: 97%;
  }
  .remove00_1991 {
    top: 75.05%;
    left: -38%;
  }
  .remove00_1991 svg {
    width: 75%;
  }
  .remove0000_1983 {
    top: 68.95%;
    left: -37.5%;
  }
  .remove0000_1983  svg {
    width: 75%;
  }
  .pesoMN {
    left: 20%;
  }
  .pesoLey {
    left: 20%;
  }
  .pesoArgentino {
    top: calc(70.25% - 1.125rem);
    left: 20%;
  }
  .pesoArgentino .year {
    font-size: 1rem;
  }
  .austral {
    left: 20%;
  }
  .pesoArgentino2 {
    left: 20%;
  }
  .bill_10000pN {
    bottom: -27.5%;
    left: 45%;
    width: 10%
  }
  .bill_10000pN img {
    width: 100%;
  }
  .bg_question {
    width: calc(51.9%);
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .progress_Horse {
    width: inherit;
  }
  .depreciation_bills span:nth-of-type(1) {
    font-size: 1rem;
  }
  .depreciation_bills span:nth-last-of-type(1) {
    font-size: 1.5rem;
  }
  .depreciation_bills div span:nth-last-of-type(1):nth-of-type(1) {
    font-size: 1rem;
  }
  .bill1 {
    width: 4vw;
    height: 4vw;
    left: calc(9% - 4vw/2);
  }
  .coin {
    width: 65%;
    position: absolute;
    top: -1.4%;
    left: 535%;
  }
  .peso {
    top: 1.65%;
    left: calc(563% - 16.4070rem);
  }
  .peso span {
    display: inline;
  }
  .stability {
    top: 12.5%;
    left: 32%;
  }
  .stability svg {
    width: 200%;
  }
  .bcra {
    top: 32.1%;
    left: 2%;
    width: 100%;
  }
  .bcra svg {
    width: 250%;
  }
  .year {
    font-size: 1.65rem;
  }
  .year svg {
    height: 1rem;
  }
  .yearM {
    padding-right: 1rem;
    font-size: 1rem;
  }
  .year0 {
    top: calc(4.25% - 0.96875rem);
  }
  .year1 {
    top: calc(5.37% - 0.96875rem);
  }
  .year2 {
    top: calc(32.93% - 0.96875rem);
  }
  .year3 {
    top: calc(33.76% - 0.96875rem);
  }
  .year4 {
    top: calc(39.905% - 0.96875rem);
  }
  .year5 {
    top: calc(52.86% - 0.96875rem);
  }
  .year6 {
    top: calc(59.765% - 0.96875rem);
  }
  .year7 {
    top: calc(60.725% - 0.96875rem);
  }
  .year8 {
    top: calc(61.92% - 0.96875rem);
  }
  .year9 {
    top: calc(64.4% - 0.96875rem);
  }
  .year10 span, .year11 span, .year12 span, .year13 span, .year14 span, .year15 span, .year16 span, .year17 span, .year18 span, .year19 span {
    font-size: 1.4rem;
  }
  .year10 {
    top: calc(66.95% - 0.96875rem);
  }
  .year11 {
    top: calc(67.81% - 0.96875rem);
  }
  .year12 {
    top: calc(68.54% - 0.96875rem);
  }
  .year13 {
    top: calc(69.8% - 0.96875rem);
  }
  .year14 {
    top: calc(70.38% - 0.96875rem);
  }
  .year15 {
    top: calc(71.05% - 0.96875rem);
  }
  .year16 {
    top: calc(73.26% - 0.96875rem);
  }
  .year17 {
    top: calc(74.05% - 0.96875rem);
  }
  .year18 {
    top: calc(74.82% - 0.96875rem);
  }
  .year19 {
    top: calc(75.5% - 0.96875rem);
  }
  .year20 {
    top: calc(83.27% - 0.96875rem);
  }
  .year21 {
    top: calc(95.13% - 0.96875rem);
  }
  .year22 {
    top: calc(96% - 0.96875rem);
  }
  .pesoArgentino {
    top: calc(70.25% - 1.5rem);
  }
  .pesoArgentino .year {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 900px) {
  .year10 span, .year11 span, .year12 span, .year13 span, .year14 span, .year15 span, .year16 span, .year17 span, .year18 span, .year19 span {
    font-size: 1.65rem;
  }
  .year10 {
    top: calc(66.6% - 0.96875rem);
  }
  .year11 {
    top: calc(67.5% - 0.96875rem);
  }
  .year12 {
    top: calc(68.3% - 0.96875rem);
  }
  .year13 {
    top: calc(69.68% - 0.96875rem);
  }
  .year14 {
    top: calc(70.23% - 0.96875rem);
  }
  .year15 {
    top: calc(70.84% - 0.96875rem);
  }
  .year16 {
    top: calc(73.17% - 0.96875rem);
  }
  .year17 {
    top: calc(74% - 0.96875rem);
  }
  .year18 {
    top: calc(74.72% - 0.96875rem);
  }
  .year19 {
    top: calc(75.52% - 0.96875rem);
  }
}
@media screen and (min-width: 1369px) {
  .progress_Img  {
    left: calc((100vw - 1369px) /2)
  }
  .progress_Horse {
    left: calc(((100vw - 1369px) /2) + 15px)
  }
}