.progress_Horse {
  position: absolute;
  bottom: calc(12% + 26px);
  z-index: 99;
  width: 150px;
  height: auto;
}
.container {
  position: relative;
}
.bar {
  position: relative;
}
@media screen and (max-width: 767px) {
  .cls6 {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) {
  .progress_Horse {
    width: 201.9px;
  }
}
@media screen and (min-width: 1369px) {
  .bar {
    left: calc((100vw - 1369px) /2)
  }
  .progress_Horse {
    left: calc(((100vw - 1369px) /2) + 15px)
  }
}